body {
    background-color: #f8f9fa;
}

.beta-tag {
    background: #fd5447;
    position: fixed;
    top: -5px;
    left: 50px;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 10px;
}

code {
    background-color: #f8f9fa;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.alert {
    margin-bottom: 0.5rem;
}

.card {
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}